.screen { 
    height: 100%;
    background-color: rgb(25,36,41);
    /*border-bottom: 1px solid rgb(25,36,41);;*/
}

.page-container { 
    margin: 7vh auto;
    width: 100vw; 
    display: flex;  
    flex-direction: column;

}

.main {
    width: 77vw;
    /*border: 2px solid blue;*/
    padding: 0vh 5vw;
    background-color: white;
    /*rgb(25,36,41);*/
}

section h2 { 
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    /*border-bottom: 1px solid grey;
    width: 50%;*/
}

section h3 { 
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}


section div { 
    /* all children divs and their div children*/
}

.about-photos-container { 
    margin-bottom: 1vh;
    margin-top: 1vh;
/*    -moz-box-shadow: 0px 0px 7px #000000;
    -webkit-box-shadow: 0px 0px 7px #000000;*/
    /*box-shadow: 0px 0px 7px #000000;*/
    /*border-radius: 5px;*/
}

.about-photos { 
    height: 45.5vh;
    width: 100%;
}

.updates-events, .system, .schedule, .about, .messages { 
    padding: 5px;
    margin-bottom: 10vh;
    padding-bottom: 2vh;
    /*background-color: lightgrey;*/
/*    -moz-box-shadow: 0px 0px 7px #000000;
    -webkit-box-shadow: 0px 0px 7px #000000;
    box-shadow: 0px 0px 7px #000000;*/
    border-bottom: 1px solid grey;
    /*border-radius: 5px;*/



}


.description p { 
    margin: 0;

}

.sub-section { 
    width: 100%;
    margin-bottom: 5vh;

    /*border: 1px solid blue;*/
    /*background-color: lightgrey;*/
/*    -moz-box-shadow: 0px 0px 7px #000000;
    -webkit-box-shadow: 0px 0px 7px #000000;
    box-shadow: 0px 0px 7px #000000;*/
    /*border-bottom: 1px solid grey;*/
    /*border-radius: 5px;*/

}


.updates p{
    padding: 0;
}

.updates h3 { 
    padding: 0;
    margin-bottom: 5px;
}

.section-component { 
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-bottom: 0;
    /*border: 1px solid blue;*/
}

.section-component h4 { 
    margin-bottom: 0px;
    /*border: 1px solid blue;*/
}

.section-component-title-desc {
    padding-left: 25px;
}


.end { 
    margin-bottom: 15vh;
}





h3 { position:relative; }
h3 span{ position:absolute; top:-9vh;}

h2{position:relative;}
h2 span{ position:absolute; top:-7.5vh;}

    
/* !!!!!!!!!!!!!!!!!!   The sidebar menu    !!!!!!!!!!!!!!!!!!!!!!!!!!*/
.sidenav {
    height: 93vh; /* Full-height: remove this if you want "auto" height */
    margin-top: 7vh;
    width: 23vw;
    min-width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: rgb(247,247,247);
    overflow-x: hidden; /* Disable horizontal scroll */
    /*padding-right: 10px;*/
    border-bottom: 7vh solid rgb(25,36,41);

    
}


.sidenav-layout { 
    margin-left: 1vw;
    
}

.sidenav-layout li { 
    font-size: 12pt;
    list-style-type: none;
    
    
    
}

.system-photo { 
    max-height: 45vh;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);

}


.forms-checklist { 
    margin-top: 5vh;
    /*border: 3px solid blue;*/
}










.sidenav-layout h2 { 
    margin: 10px;
    font-size: 14pt;
}

.sidenav-layout ul { 
    margin-top: 0;
}

.sidenav-layout li { 
    margin: -5px;
}


li a { 
    text-decoration: none;
    color: rgb(25,36,41);
}

h2 a { 
    text-decoration: none;
    color: rgb(25,36,41);  
}


@media only screen and (min-width: 1200px) {
    .system-photo { 
        max-height: 55vh;
    }

}

@media only screen and (max-width: 567px) {
    .page-container { 
        width: 100vw; 
    }    
    .sidenav {
        display: none;
    }
    .system { 
        border-radius: 10px;
        border: none;
        padding: 5px;
        margin-top: 0;
    }
    .main { 
      width: 100%;
    }

    /* Side Navigation  */
    .sidenav-layout h2 { 
    margin: -2px;
    font-size: 17pt;
    }

    .sidenav-layout ul { 
        margin-top: 0;
    }

    .sidenav-layout li { 
        margin: -5px;
    }
}

