html {
  scroll-behavior: smooth;
}

.main h1 {
    
    font-size: 5.5em;
    font-weight: 300 !important;
    margin: 0;
    padding: 1vh;
    background-color: yellow;
    padding-left: .7em;
    color: rgb(25, 36, 41);
    text-decoration: underline;
    text-decoration-color: rgb(25, 36, 41);
}

.main h2 {
    background-color: rgb(25, 36, 41);
    color: white;
    padding: .7em;
    padding-left: 2em;
    font-size: 2em;
    font-weight: 300;
    text-decoration: underline;
    text-decoration-color: yellow;
}

.main h3 {
    margin-top: 3vh;
}

.test2 {}

.screen {
    height: 100%;
    background-color: rgb(25, 36, 41);
    /*border-bottom: 1px solid rgb(25,36,41);;*/
}

.page-container {
    margin: 7vh auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.main {
    width: 63vw;
    padding: 0vh 0vw;
    /*background-color: rgb(178, 175, 172);*/
    background-color: white;
    min-height: 86vh;
}

section {
    margin-bottom: 50vh;
}

section h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    /*border-bottom: 1px solid grey;
    width: 50%;*/
}

section h3 {
    margin: 0;
    padding: 0;
}

section div {
    /* all children divs and their div children*/
}

.about-photos-container {
    margin-bottom: 1vh;
    margin-top: 1vh;
    /*    -moz-box-shadow: 0px 0px 7px #000000;
    -webkit-box-shadow: 0px 0px 7px #000000;*/
    /*box-shadow: 0px 0px 7px #000000;*/
    /*border-radius: 5px;*/
}

.about-photos {
    height: 45.5vh;
    width: 100%;
}

.updates-events,
.system,
.schedule,
.about,
.messages {
    padding: 5px;
    margin-bottom: 10vh;
    padding-bottom: 2vh;
    /*background-color: lightgrey;*/
    /*    -moz-box-shadow: 0px 0px 7px #000000;
    -webkit-box-shadow: 0px 0px 7px #000000;
    box-shadow: 0px 0px 7px #000000;*/
    border-bottom: 1px solid grey;
    /*border-radius: 5px;*/
}

.description p {
    margin: 0;
}

.sub-section {
    width: 100%;
    margin-bottom: 5vh;
    /*background-color: lightgrey;*/
    /*    -moz-box-shadow: 0px 0px 7px #000000;
    -webkit-box-shadow: 0px 0px 7px #000000;
    box-shadow: 0px 0px 7px #000000;*/
    /*border-bottom: 1px solid grey;*/
    /*border-radius: 5px;*/
}

.updates p {
    padding: 0;
}

.updates h3 {
    padding: 0;
    margin-bottom: 5px;
}

.section-component {
    padding-left: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-bottom: 0;
    /*border: 1px solid blue;*/
}

.section-component h4 {
    margin-bottom: 0px;
    /*border: 1px solid blue;*/
}

.section-component-title-desc {
    padding-left: 25px;
}

.end {
    margin-bottom: 30vh;
}


/* !!!!!!!!!!!!!!!!!!   The sidebar menu    !!!!!!!!!!!!!!!!!!!!!!!!!!*/


/* Container*/
.sidenav { 
    height: 93vh;
    width: 37vw;
    min-width: 200px;
    margin-top: 7vh;
    padding-left: 1.5%;
    overflow-x: hidden;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(211,211,211);
}

/* Content & Schedule*/
.sidenav h1 {
    padding-top: .5em;
    width: 100%;
    font-size: 1.75em;
    font-weight: 400;
    margin: 5px;
    color: rgb(25, 36, 41);
}

/*All Links*/
li a { 
    text-decoration: none;
    color: rgb(25, 36, 41);
    padding-left: 1vw;
    font-size: 1.05em;    
}

li a:hover { 
    color: yellow;
    text-decoration: none;
}

/*Component Title*/
.sidenav-layout li { 
    font-weight: 400;
    list-style-type: none;
    margin: -1px;

}

/*System and Component Title Menu*/
.menu-system {
    font-weight: 600;

}


.is-current {
    font-weight: 600 !important;
    border-left: 5px solid yellow;
    color: yellow;
}

.is-current2 {
    font-weight: 600 !important;
    border-left: 5px solid yellow;
    padding: .1em;
    padding-left: 0;
}



.main_address2 { 
    height: 50vh;
}










.system-photo {
    max-height: 50vh;
    height: 100%;
    min-width: 100%;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}

.forms-checklist {
    margin-top: 5vh;
    /*border: 3px solid blue;*/
}

@media only screen and (min-width: 1200px) {
    .system-photo {
        max-height: 75vh;
    }
}

@media only screen and (max-width: 567px) {
    .page-container {
        width: 100vw;
    }
    .sidenav {
        display: none;
    }
    .system {
        border-radius: 10px;
        border: none;
        padding: 5px;
        margin-top: 0;
    }
    .main {
        width: 100%;
    }
    /* Side Navigation  */
    .sidenav-layout h2 {
        margin: -2px;
    }
    .sidenav-layout ul {
        margin-top: 0;
    }
    .sidenav-layout li {
        margin: -5px;
    }
}

.sub-system h2 {
    position: relative;
}

.sub-system h2 span {
    position: absolute;
    top: -20vh
}

h3 {
    position: relative;
}

h3 span {
    position: absolute;
    top: -9vh;
}

h2 {
    position: relative;
}

h2 span {
    position: absolute;
    top: -7vh;
}

h1 {
    position: relative;
}

h1 span {
    position: absolute;
    top: -7vh;
}
