div .component{ 
  margin-top: 1vh;
  padding-top: 1vh;
  margin-left: 3vw;
  margin-right: 3vw;
}

div .component h3{
  border-bottom: 5px solid yellow;
  padding-left: 3vw;
} 

.body { 
  min-height: 10vh;
  font-size: 1.3em;
}